<!--/* 
<div th:replace="~{calendar/list_all_com::list_all_fragment}"></div> 
'/calendar/list_all_com.html' 파일의 list_all_fragment를 가져다 사용
*/-->
<div th:fragment="join_list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 5%;'/>
      <col style='width: 5%;'/>
      <col style='width: 7%;'/>    
      <col style='width: 7%;'/>
      <col style='width: 7%;'/>
      <col style='width: 7%;'/>
      <col style='width: 7%;'/>
      <col style='width: 7%;'/>      
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">추천일</th>
        <th class="th_bs">설문조사 번호</th>
        <th class="th_bs">설문조사 제목</th>
        <th class="th_bs">회원 번호</th>
        <th class="th_bs">아이디</th>
        <th class="th_bs">회원이름</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="SurveySurveygoodMemberVO, status:${list}">
        <td class="td_bs" th:text="|${status.index+1}|"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.rdate.substring(0, 10)}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.surveyno}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.s_survey_title}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.memberno}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.id}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.name}"></td>
        <td class="td_bs">
          <a href="#" th:onclick="'delete_good(event, ' + ${SurveySurveygoodMemberVO.surveygoodno}+ ')'">
          <img src="/survey/delete.png" class="icon" title="삭제"></a> <!--/* /static 기준 */-->
        </td>
      </tr>
    </tbody>
  </table>
  <script>
     function delete_good(e, surveygoodno) {
         let sw = confirm(surveygoodno + "번 글 삭제를 하시겠습니까? \n 삭제하면 복구할 수 없습니다.");
         if (sw == true) {
           document.querySelector('#surveygoodno').value = surveygoodno;
           document.querySelector("#frm").submit();
         }
     }
   </script>
  <form name="frm" id="frm" method='post' action='/surveygood/delete'>
    <input type="hidden" name="surveygoodno" id="surveygoodno">
  </form> 
    
</div>

