<!--/* 
<div th:replace="~{calendar/list_all_com::list_all_fragment}"></div> 
'/calendar/list_all_com.html' 파일의 list_all_fragment를 가져다 사용
*/-->
<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 25%;'/>
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>    
      <col style='width: 25%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">등록일(추천일)</th>
        <th class="th_bs">커뮤니티 번호</th>
        <th class="th_bs">회원 번호</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="commugoodVO, status:${list}">
        <td class="td_bs" th:text="|${status.index+1}|"></td>
        <td class="td_bs" th:text="${commugoodVO.rdate.substring(0, 10)}"></td>
        <td class="td_bs" th:text="${commugoodVO.communo}"></td>
        <td class="td_bs" th:text="${commugoodVO.memberno}"></td>
        <td class="td_bs">
          <a href="#" th:onclick="'delete_good(event, ' + ${commugoodVO.commugoodno} + ');'">
            <img src="/commugood/images/delete.png" class="icon" title="삭제">
          </a>          
        </td>
      </tr>
    </tbody>
  </table>

  <script>
    function delete_good(e, commugoodno){
      let sw = confirm(commugoodno + '번 글 삭제를 하시겠습니까?\n삭제하면 복구할 수 없습니다.')
      if(sw == true) {
        document.querySelector('#commugoodno').value = commugoodno;
        document.querySelector('#frm').submit();
      }
    }
  </script>

  <form name="frm" id="frm" method="post" action="/commugood/delete">
    <input type="hidden" name="commugoodno" id="commugoodno">
  </form>
  
</div>

