
<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 5%;'/>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>
      <col style='width: 10%;'/>    
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>
      <col style='width: 9%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">구단 엠블럼</th>
        <th class="th_bs">구단명</th>
        <th class="th_bs">구단 정보</th>
        <th class="th_bs">구단 주요 선수</th>
        <th class="th_bs">구단 감독</th>
        <th class="th_bs">구단 레전드</th>
        <th class="th_bs">구단 역사</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="clubVO, status:${list}" >
        <td class='td_basic' style="vertical-align: middle; text-align: center;">
          <div th:if="${clubVO.emblem.endsWith('jpg') or clubVO.emblem.endsWith('png') or clubVO.emblem.endsWith('gif')}">
              <img th:src="@{|/club/storage/${clubVO.emblem}|}" style="width: 120px; height: 90px;">
          </div>

          <div th:if="${((clubVO.emblem.endsWith('jpg') or clubVO.emblem.endsWith('png')  or clubVO.emblem.endsWith('gif')) == false)}">
            <span th:text="${clubVO.emblem}"></span>
          </div>
        </td>
        <td class="td_bs">
          <a th:href="@{|/th/club/read/${clubVO.clubno}?word=${word}&now_page=${now_page}|}" style="display:block; color:black;" th:text="${clubVO.clubname}"></a>
        </td>
        <td class="td_bs">
          <a th:href="@{|/th/club/read/${clubVO.clubno}?word=${word}&now_page=${now_page}|}" style="display:block; color:black;" th:text="${clubVO.info}"></a>
        </td>
        <td class="td_bs">
        <a th:href="@{|/th/club/read/${clubVO.clubno}?word=${word}&now_page=${now_page}|}" style="display:block; color:black;" th:text="${clubVO.player}"></a>
        </td>
        <td class="td_bs">
          <a th:href="@{|/th/club/read/${clubVO.clubno}?word=${word}&now_page=${now_page}|}" style="display:block; color:black;" th:text="${clubVO.headcoach}"></a>
          </td>
          <td class="td_bs">
            <a th:href="@{|/th/club/read/${clubVO.clubno}?word=${word}&now_page=${now_page}|}" style="display:block; color:black;" th:text="${clubVO.legend}"></a>
            </td>          
            <td class="td_bs">
              <a th:href="@{|/th/club/read/${clubVO.clubno}?word=${word}&now_page=${now_page}|}" style="display:block; color:black;" th:text="${clubVO.history}"></a>
              </td>          
        <td class="td_bs">
          <span th:text="${clubVO.rank}"></span>
          <a th:href="@{|/club/update_rank_up/${clubVO.clubno}?word=${word}&now_page=${now_page}|}"><img src="/club/images/decrease.png" class="icon" title="구단순위 높임"></a>
          <a th:href="@{|/club/update_rank_down/${clubVO.clubno}?word=${word}&now_page=${now_page}|}"><img src="/club/images/increase.png" class="icon" title="구단순위 낮춤"></a>
          <a th:href="@{|/club/update/${clubVO.clubno}?word=${word}&now_page=${now_page}|}"><img src="/club/images/update.png" class="icon" title="수정"></a> <!-- /static 기준 -->
          <a th:href="@{|/club/delete/${clubVO.clubno}?word=${word}&now_page=${now_page}|}"><img src="/club/images/delete.png" class="icon" title="삭제"></a> <!--/* /static 기준 */-->
          <a th:if="${clubVO.info != '--'}" th:href="@{|/commu/create?clubno=${clubVO.clubno}|}"><img src="/club/images/create.png" class="icon" title="글 등록"></a> <!--/* /static 기준 */-->
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div> 
  <!-- 페이지 버튼 목록 출력 종료 -->

</div>

