<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    뉴스 등록
  </div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();" style="color: black;">새로고침</a>  
  </aside>
  
  <div class='menu_line'></div>
  
  <form name="frm" method="post" action="/news/create" th:object="${newsVO}" enctype="multipart/form-data">   
    <div>
      <label>뉴스 제목</label>
      <input type='text' name='newstitle' value='' required="required" 
            autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    
    <div>
      <label>뉴스 주소</label>
      <input type='text' name='newsadd' value='' required="required"
              autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>

    <div>
        <label>뉴스 내용</label>
        <textarea name="newsinfo" required="required" placeholder="1위 쟁탈전" 
                  autofocus="autofocus" class="form-control" rows="12" 
                  style="width: 100%;"></textarea>
    </div>

    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_all'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>