<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">설문조사 생성
  
    <div class="tabs page-header__tab-navigation">
      <ul class="tablist"role="tablist">
        <a th:href="@{|/survey/list_search?surveyno=${surveyVO.surveyno}|}" style ="color: black">목록</a>
        <a th:href="@{|/survey/update/${surveyVO.surveyno}?word=${word}&now_page=${now_page}|}" style ="color: black">수정</a>
        <a th:href="@{|/survey/delete/${surveyVO.surveyno}?word=${word}&now_page=${now_page}|}" style ="color: black">삭제</a>
        <a th:href="@{|/survey/create|}" style ="color: black">등록</a>
        <a href="javascript: location.reload();" style ="color: black">새로 고침</a>
      </ul>
    </div> 
  </div>
 


    
  <div style="width: 50%; margin: 0px auto;">  
    <form name="frm" method="post" action="/create" th:object="${surveyVO}" enctype="multipart/form-data">
      <div>
        <label>설문조사 타이틀</label>
        <input type="text" name="survey_title" value="" autofocus="autofocus"
               class="form-control" style="width: 50%;" th:field="*{survey_title}">
        <div th:if="${#fields.hasErrors('survey_title')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('qa_contents'))}" th:text="${err}"></div>
        </div>  
      </div>
      <div>
        <label>시작 날</label>
        <input type="date" name="start_date" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{start_date}">
        <div th:if="${#fields.hasErrors('start_date')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('start_date'))}" th:text="${err}"></div>
        </div>  
      </div>      
      <div>
        <label>완료 날</label>
        <input type="date" name="fin_date" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{fin_date}">
        <div th:if="${#fields.hasErrors('fin_date')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('fin_date'))}" th:text="${err}"></div>
        </div>  
      </div> 
      <div>
        <label>진행여부(Y/N)</label>
        <select id="y_n" name="y_n" class="form-control">
          <option value="출력 모드" selected="selected">진행여부</option>
          <option value="Y">Y</option>
          <option value="N">N</option>
        </select>
        <div th:if="${#fields.hasErrors('y_n')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('y_n'))}" th:text="${err}"></div>
        </div>  
      </div>
      <div>
        <label>인원 수</label>
        <input type="number" name="cnt" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{cnt}">
        <div th:if="${#fields.hasErrors('cnt')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('cnt'))}" th:text="${err}"></div>
        </div>  
      </div> 
      <div>
        <label>추천 수</label>
        <input type="number" name="recom" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{recom}">
        <div th:if="${#fields.hasErrors('recom')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('recom'))}" th:text="${err}"></div>
        </div>  
      </div> 
      <div>
        <label>포스터 파일</label>
        <input type="file" name="file1MF" id="file1MF" value='' placeholder="파일 선택" autofocus="autofocus">
      </div>      
      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">완료</button>
        <button type="button" onclick="location.href='/th/survey/list_search'" class="btn btn-secondary btn-sm">목록</button>
      </div>
      
    </form>
  <div>  
</div>
</html>