<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
      설문조사 목록 
      <span style="font-family: 'Mungyeong-Gamhong-Apple'; color:white; font-size: 40px" th:if="${word != null and word != ''}" th:text="|> ${word} ${search_cnt} 건|"></span>
       
    <div class="tabs page-header__tab-navigation">
      <ul class="tablist"role="tablist">             
         <a th:href="@{|/survey/create|}" style="color: black;">등록</a>
         <a th:href="@{|/survey/list_search?word=${word}&now_page=${now_page}|}"  style="color: black;">목록</a>  
         <a href="javascript: location.reload();" style="color: black;">새로 고침</a>
      </ul>
    </div>
  </div>  
  <div th:replace="~{survey/list_search_com::list_search_fragment}"></div>

  

 

  <!--/* '/survey/list_all_com.html' 파일의 list_all_fragment를 가져다 사용 */--> 
  <div th:replace="~{survey/list_all_com::list_all_fragment}"></div> 
  
</div>
</html>

