<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>      
      <col style='width: 10%;'/>    
      <col style='width: 10%;'/>
      <col style='width: 5%;'/>
      <col style='width: 5%;'/>
      <col style='width: 5%;'/>
      <col style='width: 5%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">포스터</th>        
        <th class="th_bs">제목</th>
        <th class="th_bs">시작 날</th>
        <th class="th_bs">종료 날</th>
        <th class="th_bs">진행여부</th>
        <th class="th_bs">추천 수</th>
        <th class="th_bs">인원 수</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="surveyVO, status:${list}">
        <td class="td_bs" th:text="${no-status.index}"></td>
    
        <td class='td_basic' style="vertical-align: middle; text-align: center;">
                <div th:if="${surveyVO.poster.endsWith('jpg') or surveyVO.poster.endsWith('png') or surveyVO.poster.endsWith('gif')}">
                    <img th:src="@{|/store/storage/${surveyVO.posterthumb}|}" style="width: 120px; height: 90px;">
                </div>
    
                <div th:if="${surveyVO.poster != null && !surveyVO.poster.endsWith('jpg') && !surveyVO.poster.endsWith('png') && !surveyVO.poster.endsWith('gif') && surveyVO.poster.length() > 0}">
                      <!-- poster가 jpg, png, gif가 아닐 경우에 실행할 내용 -->
                </div>
    
                <div th:if="${surveyVO.postersize == 0}">
                    <img src="/survey/images/none1.png" style="width: 120px; height: 90px;">
                </div>
          <div >
          첨부 파일:  <a th:href='@{|/download?dir=survey/store/storage&filename=${surveyVO.postersaved}&downname=${surveyVO.poster}|}'><img src="/survey/download.png"></a>
          </div>
        </td>
        <td class="td_bs">
          <a th:href="@{|/survey_topic/read?surveyno=${surveyVO.surveyno}|}"  style="display:block; color:black;"  th:text="${surveyVO.survey_title}"></a>
        </td>
        <td class="td_bs">
          <a th:href="@{|/survey_topic/read/${surveyVO.surveyno}|}" style="display:block; color:black;" th:text="${surveyVO.start_date}"></a>
        </td>
        <td class="td_bs">
        <a th:href="@{|/survey_topic/read/${surveyVO.surveyno}|}" style="display:block; color:black;" th:text="${surveyVO.fin_date}"></a>
        </td>
        <!-- 진행 여부 -->
        <td class="td_bs" style="text-align: center;">
          <span th:if="${surveyVO.y_n == 'Y'}">
            <a th:href="@{|/survey/update_y_n_n/${surveyVO.surveyno}?word=${word}&now_page=${now_page}|}">
              <img src="/survey/show_2.png" class="icon" title="출력">
            </a>
          </span>
          <span th:if="${surveyVO.y_n == 'N'}">
            <a th:href="@{|/survey/update_y_n_y/${surveyVO.surveyno}?word=${word}&now_page=${now_page}|}">
              <img src="/survey/hide_2.png" class="icon" title="숨김">
            </a>
          </span>
        </td>
        <td class="td_bs">
        <a th:href="@{|/survey/read/${surveyVO.surveyno}?word=${word}&now_page=${now_page}|}" style="display:block; color:black;" th:text="${surveyVO.recom}"></a>
        </td> 
        <td class="td_bs">
        <a th:href="@{|/survey/read/${surveyVO.surveyno}?word=${word}&now_page=${now_page}|}" style="display:block; color:black;" th:text="${surveyVO.cnt}"></a>
        </td> 
        <td style="vertical-align: middle; text-align: center;">
          <a th:href="@{|/survey/update/${surveyVO.surveyno}?word=${word}&now_page=${now_page}|}"><img src="/survey/update.png" class="icon" title="수정"></a> <!-- /static 기준 -->
          <a th:href="@{|/survey/delete/${surveyVO.surveyno}?word=${word}&now_page=${now_page}|}"><img src="/survey/delete.png" class="icon" title="삭제"></a> <!--/* /static 기준 */-->
          <a th:href="@{|/survey_topic/create?surveyno=${surveyVO.surveyno}|}"><img src="/survey/create.png" class="icon" title="추가"></a> <!--/* /static 기준 */-->
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div> 
  <!-- 페이지 버튼 목록 출력 종료 -->

</div>

