<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content">
    <div class="title_line">설문조사</div>
  
    <aside class="aside_right">
        <!--<a th:href="@{|/survey_topic/create?surveyno=${surveytopicVO.surveyno}|}" style="color: black">등록</a> -->
        <span class="menu_divide" style="color: black">|</span>
        <a href="javascript: location.reload();" style="color: black">새로 고침</a>
    </aside>
  

    
    <div style="width: 50%; margin: 0px auto;">
        <div th:each="surveytopicVO, status:${surveytopicList}" style="display: flex; align-items: center; background-color: #5C4B8A; color: white; padding: 10px; margin-bottom: 300px; border-radius: 5px;">
            <!-- 썸네일 -->
            <div style="text-align: center; margin-right: 10px;">
                <div th:if="${surveytopicVO.file1.endsWith('jpg') or surveytopicVO.file1.endsWith('png') or surveytopicVO.file1.endsWith('gif')}">
                    <img th:src="@{|/store/storage/${surveytopicVO.filethumb}|}" alt="썸네일" style="width: 50px; height: 50px;">
                </div>
                <div th:if="${surveytopicVO.filesize == 0}">
                    <img src="/surveytopic/images/none1.png" alt="등록된 썸네일 없음" style="width: 50px; height: 50px;">
                </div>
            </div>
            
            <!-- 출력 순서 -->
            <div style="text-align: center; margin-right: 20px;">
                <span th:text="${surveytopicVO.seqno}"style="color: white;"></span>
                <span style="color: white;">.</span> <!-- 점 추가 -->
            </div>
            
            <!-- 제목 중앙 정렬 -->
            <div style="flex-grow: 1; text-align: center; margin-right: 20px;">
                <span th:text="${surveytopicVO.topic}" style="color: white;"></span>
            </div>
            
            <!-- 수정 및 삭제 아이콘 -->
            <div>
                <a th:href="@{|/survey_item/create?surveytopicno=${surveytopicVO.surveytopicno}|}">
                    <img src="/survey/create.png" class="icon" title="항목 추가">
                </a>
                <a th:href="@{|/survey_topic/update?surveytopicno=${surveytopicVO.surveytopicno}&surveyno=${surveytopicVO.surveyno}|}">
                    <img src="/survey/update.png" class="icon" title="수정">
                </a>
                <a th:href="@{|/survey_topic/delete?surveytopicno=${surveytopicVO.surveytopicno}&surveyno=${surveytopicVO.surveyno}|}">
                    <img src="/survey/delete.png" class="icon" title="삭제">
                </a>                             
            </div>           
        </div>      
        
        <hr style="color: white; margin-top: 20px; margin-bottom: 20px;"> 
        
        <div th:each="surveyitemVO, status:${surveyitemList}" 
             style="display: flex; align-items: center; background-color: #9A7BA0; 
             color: white; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
            
            <!-- 항목 출력 순서 -->
            <div style="text-align: center; margin-right: 20px;">
                <span th:text="${surveyitemVO.itemseq}" style="color: white;"></span>
            </div>

            <!-- 항목 제목 -->
            <div style="flex-grow: 1; text-align: center; margin-right: 20px;">
                <span th:text="${surveyitemVO.item}" style="color: white;"></span>
            </div>
            
            <!-- 선택 인원 수 -->
            <div style="text-align: center; margin-right: 20px;">
                <span th:text="${surveyitemVO.itemcnt}" style="color: white;"></span>
            </div>
            
            <!-- 수정 및 삭제 아이콘 -->
            <div>
                <a th:href="@{|/survey_item/update/${surveyitemVO.surveyitemno}|}">
                    <img src="/survey/update.png" class="icon" title="수정">
                </a>
                <a th:href="@{|/survey_item/delete/${surveyitemVO.surveyitemno}|}">
                    <img src="/survey/delete.png" class="icon" title="삭제">
                </a>
            </div>
        </div>
                
      </div>
</div>
</html>


