<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${calendarVO.title}" class="title_line_text"></span >  
    * 글 등록
  </div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();" style="color: black;"></a>새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_all|}" style="color: black;">일정 목록</a>    
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${calendarVO}" action='./create' enctype="multipart/form-data">
    <input type="hidden" name="calendarno" th:value="${param.calendarno}">
    
    <div>
      <label>경기 일정</label>
      <input type='date' name='labeldate' value='' required="required" 
            autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
      <label>경기 라벨</label>
      <input type='text' name='label' value='' required="required" 
              autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>제목</label>
       <input type='text' name='title' value='' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>글 내용</label>
       <textarea name='content' required="required" class="form-control" rows="12" style='width: 100%;'></textarea>
    </div>
    <div>                
      <label>출력 순서</label>
      <input type="number" name="seqno" value="1" min="1" max="1000000" step="1"
             class="form-control" style="width: 50%;" th:field="*{seqno}"> 
      <div th:if="${#fields.hasErrors('seqno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err: ${#lists.sort(#fields.errors('seqno'))}" th:text="${err}"></div>
      </div>  
    </div>

    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_all'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>