<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${clubVO.clubname}" class="title_line_text" style="color: white;"></span >
    <span th:if="${hashtag != ''}" th:text="|> ${hashtag} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'member'}">
      <a th:href="@{|/commu/create?clubno=${clubVO.clubno}&now_page=${now_page}&hashtage=${hashtage}|}" style="color: black;">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();" style="color: black;">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_clubno?clubno=${clubVO.clubno}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">기본 목록형</a>    
    <span class='menu_divide'>│</span>
    <a th:href="@{|./list_by_clubno_grid?clubno=${clubVO.clubno}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">갤러리형</a> 
    <span class='menu_divide'>│</span>
    <a th:href="@{|./list_all|}" style="color: black;">전체보기</a>
  </aside> 
  
  <!-- /commu/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{commu/list_search_com::list_search_fragment}"></div>
     

       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 20%;'/>
      <col style='width: 80%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
    </tr>
   
    <tr th:if="${list.size() > 0}" th:each="commuVO, status:${list}" 
      th:attr="onclick=|location.href='/commu/read?communo=${commuVO.communo}&hashtag=${hashtag}&now_page=${now_page}'|"
      style="cursor: pointer; height: 90px;">
    
    <!-- 이미지 출력 -->
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <!-- 이미지 파일 -->
        <div th:if="${commuVO.image.endsWith('jpg') or commuVO.image.endsWith('png') or commuVO.image.endsWith('gif')}">
          <img th:src="@{|/commu/storage/${commuVO.commuthumb}|}" style="width: 120px; height: 90px;">
        </div>
      
        <!-- 이미지가 아닌 파일 -->
        <div th:if="${((commuVO.image.endsWith('jpg') or commuVO.image.endsWith('png') or commuVO.image.endsWith('gif')) == false) and (commuVO.imagesize > 0)}">
          <span th:text="${commuVO.image}"></span>
        </div>
  
      <!-- 파일이 없는 경우 기본 이미지 -->
        <div th:if="${commuVO.imagesize == 0}">
          <img src="/commu/images/none1.png" style="width: 120px; height: 90px;">
        </div>
      </td>
    
      <td class="td_left" style="vertical-align: middle; text-align: left;">
        <span th:text="${commuVO.headline}" style="font-weight: bold;"></span>
        <span th:text="| ${commuVO.rdate.substring(0, 10)}|"></span><br>

        <span th:if="${commuVO.contents.length() > 160 }" 
                  th:text="|${commuVO.contents.substring(0, 160) }...|"></span>
        <span th:if="${commuVO.contents.length() <= 160 }" 
                  th:text="|${commuVO.contents}|"></span>
        
      </td>
    </tr>

    <tr th:if="${list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
 