<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <script>
    window.onload = function(){
      //<img src="/commu/images/heart1.png" style="width: 30px;" title="추천">
      //<img src="/commu/images/heart2.png" style="width: 30px;" title="비추천">
      // 현재 로그인한 사용자의 추천 여부 반영

      let heartCnt =  '[[${heartCnt}]]'; //  javascript -> Thymeleaf -> session
      let tag = '';
    
      if(heartCnt == 1) {
        tag = '<a href="javascript:good([[${commuVO.communo}]])"><img src="/commu/images/heart1.png" style="width: 30px;" title="추천"></a>';
        document.querySelector('#heart_panel').innerHTML = tag;
      } else{
        tag = '<a href="javascript:good([[${commuVO.communo}]])"><img src="/commu/images/heart2.png" style="width: 30px;" title="비추천"></a>';
        document.querySelector('#heart_panel').innerHTML = tag;
      }

      document.querySelector('#recom_panel').innerHTML = '([[${commuVO.recom}]])'
    }

    function good(communo) {
      console.log('-> communo:' + communo);

      fetch("http://192.168.12.152:9093/commu/good", {
          "method": "post",
          "headers": {
              "Content-Type": "application/json"
          },
          body: JSON.stringify({communo}) // {"communo":communo}, JSON 형식으로 전송
        })
        .then((response) => response.json()) // 응답 문자열 추출
        .then((data) => {
          console.log('-> data.isMember:' + data.isMember);

          if(data.isMember == 1){ // 회원
            let heartCnt = data.heartCnt; 
            let tag = '';
    
            if(heartCnt == 1) {
              tag = '<a href="javascript:good([[${commuVO.communo}]])"><img src="/commu/images/heart1.png" style="width: 30px;" title="추천"></a>';
              document.querySelector('#heart_panel').innerHTML = tag;
            } else{
              tag = '<a href="javascript:good([[${commuVO.communo}]])"><img src="/commu/images/heart2.png" style="width: 30px;" title="비추천"></a>';
              document.querySelector('#heart_panel').innerHTML = tag;
            }  

            document.querySelector('#recom_panel').innerHTML = '(' + data.recom + ')';

          } else { // 비회원
            alert("로그인해야 추천 할 수 있습니다.");
            location.href='/member/login_cookie_need';
          }
        });
    }
  </script>

  <div class='title_line'>
    <span th:text="${clubVO.clubname}" class="title_line_text"></span >   
    > 글 조회
  </div>
  
  <aside class="aside_right" th:if="${session.grade == 'member'}">
    <a href="javascript:location.reload();" style="color: black;">새로고침</a>
    <span class='menu_divide'>│</span>    
    <a th:href="@{|./list_by_clubno?clubno=${clubVO.clubno}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">기본 목록형</a>    
    <span class='menu_divide'>│</span>
    <a th:href="@{|./list_all|}" style="color: black;">전체보기</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/commu/create?clubno=${clubVO.clubno}&now_page=${now_page}&hashtage=${hashtage}|}" style="color: black;">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/commu/update_text?communo=${commuVO.communo}&now_page=${now_page}&hashtage=${hashtage}|}" style="color: black;">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|./update_file?communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">파일 수정</a>  
    <span class='menu_divide'>│</span>
    <a th:href="@{|/commu/youtube?clubno=${commuVO.clubno}&communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">Youtube</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|./delete?communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}&cateno=${commuVO.clubno}|}" style="color: black;">삭제</a>
  </aside>

  <aside class="aside_right" th:if="${session.grade == 'admin'}">
    <a href="javascript:location.reload();" style="color: black;">새로고침</a>
    <span class='menu_divide'>│</span>    
    <a th:href="@{|./list_by_clubno?clubno=${clubVO.clubno}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">기본 목록형</a>    
    <span class='menu_divide'>│</span>
    <a th:href="@{|./list_all|}" style="color: black;">전체보기</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/commu/update_text?communo=${commuVO.communo}&now_page=${now_page}&hashtage=${hashtage}|}" style="color: black;">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|./update_file?communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">파일 수정</a>  
    <span class='menu_divide'>│</span>
    <a th:href="@{|./delete?communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}&cateno=${commuVO.clubno}|}" style="color: black;">삭제</a>
  </aside>
 
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
        
          <!-- 제목 -->
          <div>
            <span style="font-size: 1.5em; font-weight: bold;" th:text="${commuVO.headline}"></span>
          </div>
  
          <!-- 작성 날짜 -->
          <div style="font-size: 1em;">
            <span th:text="${commuVO.rdate}"></span>
          </div>
  
          <br><br>
  
          <!-- 이미지 (jpg, png, gif만 표시) -->
          <div th:if="${commuVO.image.endsWith('jpg') or commuVO.image.endsWith('png') or commuVO.image.endsWith('gif')}">
            <img th:src="@{|/commu/storage/${commuVO.imagesaved}|}" style="width: 20%; margin: 0 auto; display: block; margin-bottom: 1%;">
          </div>
  
          <!-- Youtube (영상 링크 표시) -->
          <div style="text-align: center; width: 640px; margin: 0 auto; padding: 10px 0;" th:if="${commuVO.youtube.length() > 0}" th:utext="${commuVO.youtube}">
          </div>
  
          <div style="text-align: center;">
            <span id="heart_panel"></span><span id="recom_panel"></span>
          </div>
  
        </div>
      </li>

    <!-- 본문 내용 -->
    <div style="border: 1px solid #ccc; padding: 0; border-radius: 5px; margin-bottom: 20px;">
      <div style="white-space: pre-wrap; font-size: 1.5em; padding: 10px;">
          <span th:text="${commuVO.contents}"></span>
      </div>
    </div>

    <!-- 해시태그 표시 -->
    <li class="li_none" th:text="|해시태그(키워드): ${commuVO.hashtag}|"></li>

    <!-- 첨부 파일 표시 -->
    <li class="li_none" th:if="${commuVO.imagesize > 0}">
      <div style="color: black;">
          첨부 파일: 
          <a th:href="@{|/download?dir=commu/storage&filename=${commuVO.imagesaved}&downname=${commuVO.image}|}" style="color: black;">
              <span th:text="${commuVO.image}"></span>
          </a> 
          <span th:text="|(${commuVO.size1_label})|"></span>
          
          <a th:href="@{|/download?dir=commu/storage&filename=${commuVO.imagesaved}&downname=${commuVO.image}|}" style="color: black;">
              <img src="/commu/images/download.png" alt="Download">
          </a>
      </div>
    </li>
  
    </ul>
  </fieldset>
  

</html>

