<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${clubVO.clubname}" class="title_line_text"></span >   
    > 글 조회
  </div>
  
  <aside class="aside_right" th:if="${session.grade == 'member'}">
    <a href="javascript:location.reload();" style="color: black;">새로고침</a>
    <span class='menu_divide'>│</span>    
    <a th:href="@{|./list_by_clubno?clubno=${clubVO.clubno}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">기본 목록형</a>    
    <span class='menu_divide'>│</span>
    <a th:href="@{|./list_all|}" style="color: black;">전체보기</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/commu/create?clubno=${clubVO.clubno}&now_page=${now_page}&hashtage=${hashtage}|}" style="color: black;">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/commu/update_text?communo=${commuVO.communo}&now_page=${now_page}&hashtage=${hashtage}|}" style="color: black;">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|./update_file?communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">파일 수정</a>  
    <span class='menu_divide'>│</span>
    <a th:href="@{|/commu/youtube?clubno=${commuVO.clubno}&communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">Youtube</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|./delete?communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}&cateno=${commuVO.clubno}|}" style="color: black;">삭제</a>
  </aside>

  <aside class="aside_right" th:if="${session.grade == 'admin'}">
    <a href="javascript:location.reload();" style="color: black;">새로고침</a>
    <span class='menu_divide'>│</span>    
    <a th:href="@{|./list_by_clubno?clubno=${clubVO.clubno}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">기본 목록형</a>    
    <span class='menu_divide'>│</span>
    <a th:href="@{|./list_all|}" style="color: black;">전체보기</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/commu/update_text?communo=${commuVO.communo}&now_page=${now_page}&hashtage=${hashtage}|}" style="color: black;">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|./update_file?communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}|}" style="color: black;">파일 수정</a>  
    <span class='menu_divide'>│</span>
    <a th:href="@{|./delete?communo=${commuVO.communo}&hashtage=${hashtage}&now_page=${now_page}&cateno=${commuVO.clubno}|}" style="color: black;">삭제</a>
  </aside>
 
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
        
          <!-- 제목 -->
          <div>
            <span style="font-size: 1.5em; font-weight: bold;" th:text="${commuVO.headline}"></span>
          </div>
  
          <!-- 작성 날짜 -->
          <div style="font-size: 1em;">
            <span th:text="${commuVO.rdate}"></span>
          </div>
  
          <br><br>
  
          <!-- 이미지 (jpg, png, gif만 표시) -->
          <div th:if="${commuVO.image.endsWith('jpg') or commuVO.image.endsWith('png') or commuVO.image.endsWith('gif')}">
            <img th:src="@{|/commu/storage/${commuVO.imagesaved}|}" style="width: 20%; margin: 0 auto; display: block; margin-bottom: 1%;">
          </div>
  
          <!-- Youtube (영상 링크 표시) -->
          <div style="text-align: center; width: 640px; margin: 0 auto; padding: 10px 0;" th:if="${commuVO.youtube.length() > 0}" th:utext="${commuVO.youtube}">
          </div>
  
        
  
        </div>
      </li>

      <!-- 본문 내용 -->
        <div style="white-space: pre-wrap; font-size: 1.2em;">
          <span th:text="${commuVO.contents}"></span>
        </div>
  
      <!-- 해시태그 표시 -->
      <li class="li_none" th:text="|해시태그(키워드): ${commuVO.hashtag}|"></li>
      
      <!-- 첨부 파일 표시 -->
      <li class="li_none" th:if="${commuVO.imagesize > 0}">
        <div style="color: black;">
          첨부 파일: 
          <a th:href="@{|/download?dir=commu/storage&filename=${commuVO.imagesaved}&downname=${commuVO.image}|}" style="color: black;">
            <span th:text="${commuVO.image}"></span>
          </a> 
          <span th:text="|(${commuVO.size1_label})|"></span>
          
          <a th:href="@{|/download?dir=commu/storage&filename=${commuVO.imagesaved}&downname=${commuVO.image}|}" style="color: black;">
            <img src="/commu/images/download.png" alt="Download">
          </a>
        </div>
      </li>   
  
    </ul>
  </fieldset>
  

</html>

