<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <div class="title_line">설문조사 참여 회원
    <div class="tabs page-header__tab-navigation">
      <ul class="tablist"role="tablist">
        <a href="javascript: location.reload();">새로 고침</a>
      </ul>
    </div>
  </div>
  <!--/* '/calendar/list_all_com.html' 파일의 list_all_fragment를 가져다 사용 */--> 
  <div th:replace="~{th/surveymember/list_all_com_join::list_all_fragment}"></div> 
  
</div>
</html>

