<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">설문조사</div>
  <aside class="aside_right">
    <a href="javascript: location.reload();" style="color: black">새로 고침</a>
    <span class="menu_divide" style="color: black">|</span>
    <a th:href="@{|/survey_topic/create?surveyno=${surveyVO.surveyno}|}" style="color: black">등록</a>
  </aside>
  
  <div class="menu_line"></div>

  <div style="width: 50%; margin: 0px auto;">
    <div th:each="surveytopicVO, status:${surveytopicList}" 
         th:style="'background-image: url(/survey/survey_image_2.jpg); background-size: cover; color: white; padding: 10px; margin-bottom: 100px; border-radius: 5px;  justify-content: space-between;'">
        
        <!-- 썸네일 -->
        <div style="display: flex; align-items: center;">
            <div style="text-align: center; margin-right: 10px;">
                <div th:if="${surveytopicVO.file1.endsWith('jpg') or surveytopicVO.file1.endsWith('png') or surveytopicVO.file1.endsWith('gif')}">
                    <img th:src="@{|/store/storage/${surveytopicVO.filethumb}|}" alt="썸네일" style="width: 50px; height: 50px;">
                </div>
                <div th:if="${surveytopicVO.filesize == 0}">
                    <img src="/surveytopic/images/none1.png" alt="등록된 썸네일 없음" style="width: 50px; height: 50px;">
                </div>
            </div>

            <!-- 출력 순서 및 제목 -->
            <div style="flex-grow: 1; text-align: center; margin-right: 20px;">
                <span th:text="${surveytopicVO.seqno}" style="color: white;"></span>
                <span style="color: white;">.</span> <!-- 점 추가 -->
                <span th:text="${surveytopicVO.topic}" style="color: white;"></span>
            </div>

            <!-- 수정 및 삭제 아이콘 -->
            <div>
                <a th:href="@{|/survey_item/create?surveytopicno=${surveytopicVO.surveytopicno}|}">
                    <img src="/survey/create2.png" class="icon" title="항목 추가">
                </a>
                <a th:href="@{|/survey_topic/update?surveytopicno=${surveytopicVO.surveytopicno}&surveyno=${surveytopicVO.surveyno}|}">
                    <img src="/survey/update2.png" class="icon" title="수정">
                </a>
                <a th:href="@{|/survey_topic/delete?surveytopicno=${surveytopicVO.surveytopicno}&surveyno=${surveytopicVO.surveyno}|}">
                    <img src="/survey/delete2.png" class="icon" title="삭제">
                </a>                             
            </div>           
        </div>

        <!-- 항목을 위한 추가 루프 시작 -->
        <div th:each="surveyitemVO : ${itemsByTopic[surveytopicVO.surveytopicno]}" 
             style="display: flex; align-items: center; background-color: white; color: white; padding: 10px; margin-top: 10px; border-radius: 5px; justify-content: space-between;">
            
            <!-- 항목 출력 순서, 항목 -->
            <div style="text-align: center; margin-right: 10px;">
                <span th:text="${surveyitemVO.itemseq}" style="color: black;"></span>
                <span style="color: black;">.</span> <!-- 점 추가 -->
                <span th:text="${surveyitemVO.item}" style="color: black;"></span>                       
                 <input type="radio" th:id="'radio_' + ${surveyitemVO.surveyitemno}" 
                       th:name="'selectedItem_' + ${surveytopicVO.surveytopicno}" 
                       style="margin-left: 5px;"/>
    
            </div>
            

            
            <!-- 수정 및 삭제 아이콘 -->
            <div style='display: flex; align-items: center;'>
                <span style="color: black;">선택 인원 :</span> <!-- 점 추가 -->
                <span th:text="${surveyitemVO.itemcnt}" style="color: black; margin-left: 5px"></span>
                <a th:href="@{|/survey_item/update?surveyitemno=${surveyitemVO.surveyitemno}&surveytopicno=${surveyitemVO.surveytopicno}|}">
                    <img src="/survey/update.png" class="icon" title="수정">
                </a>
                <a th:href="@{|/survey_item/delete?surveyitemno=${surveyitemVO.surveyitemno}&surveytopicno=${surveyitemVO.surveytopicno}|}">
                    <img src="/survey/delete.png" class="icon" title="삭제">
                </a>
            </div>
        </div>
    </div>
          <div class="content_body_bottom">
            <button type="submit" class="btn btn-secondary btn-sm">완료</button>
            <button type="button" onclick="location.href='/survey/list_search'" class="btn btn-secondary btn-sm">목록</button>
          </div>
</div>
</div>
</html>