<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
  <div layout:fragment="content">
  <div class="image-container">
    <a th:href="@{|/club/list_search|}">
      <img src="/images/구단정보.png" alt="Left Image" title="구단 정보">
    </a>
    <a th:href="@{|/survey/list_search|}">
      <img src="/images/설문조사.png" alt="Center Image" title="설문조사">
    </a>
    <a th:href="@{|/commu/list_all|}">
      <img src="/images/커뮤니티.png" alt="Right Image" title="커뮤니티">
    </a>
  </div>
</html>

