<div th:fragment="navbarFragment">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom bar_img">          
    <div class="container-fluid">
        <a class="navbar-brand down-text" href="/" >축구 가이드북</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          
        <!-- 메뉴 시작 -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                
                <li class="nav-item dropdown down-text" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                       role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="회원">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{|/member/create|}">회원 가입</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/passwd_update|}">비밀 번호 변경</a>
                        </li>  
                    </ul>
                </li>

                <li class="nav-item dropdown" th:if="${session.grade=='admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/cate/list_search?word=${word}|}">카테고리 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/member/list|}">회원 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/contents/list_all|}">전체 글 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade=='admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/survey/list_all|}">설문조사 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/survey/create|}">회원 등록</a></li>

                    </ul>
                </li>
              
                <li class="nav-item down-text" >
                    <a th:if="${session.memberno == null}" class="nav-link" href="/member/login" th:text="@{|로그인|}"></a>
                    <a th:if="${session.memberno != null}" class="nav-link" href="/member/logout" th:text="@{|${session.id} 로그아웃|}"></a>
                </li>
                  
            </ul>
        </div>
        <!-- 메뉴 종료 -->
          
    </div>  
  </nav>
</div>


