<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">구단 조회</div>
  <aside class="aside_right">
    <a th:href="@{|/club/list_search?word=${word}&now_page=${now_page}|}" style="color: black;">목록</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/club/update/${clubVO.clubno}?word=${word}&now_page=${now_page}|}" style="color: black;">수정</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/club/delete/${clubVO.clubno}?word=${word}&now_page=${now_page}|}" style="color: black;">삭제</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/club/create|}" style="color: black;">등록</a>
    <span class="menu_divide">|</span>
    <a href="javascript: location.reload();" style="color: black;">새로 고침</a>
  </aside>

  <div class="menu_line"></div>
  
  <div class="container mt-3" style="width: 60%; margin: 5px auto;"> <!--/* mt-3: margin top 16px */-->
    <ul class="list-group list-group-flush">
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
        
          <div th:if="${clubVO.emblem.endsWith('jpg') or clubVO.emblem.endsWith('png') or clubVO.emblem.endsWith('gif')}">
            <img th:src="@{|/club/storage/${clubVO.emblem}|}" style="width: 120px; height: 90px; display: block; margin: 0 auto;">
        </div>

        </div>
      </li>   
      <li class="list-group-item">구단명: <span th:text="${clubVO.clubname}"></span></li>
      <li class="list-group-item">구단정보: <span th:text="${clubVO.info}"></span></li>
      <li class="list-group-item">구단 주요선수: <span th:text="${clubVO.player}"></span></li>
      <li class="list-group-item">구단 감독: <span th:text="${clubVO.headcoach}"></span></li>
      <li class="list-group-item">구단 레전드: <span th:text="${clubVO.legend}"></span></li>
      <li class="list-group-item">구단 역사: <span th:text="${clubVO.history}"></span></li>
    </ul>  
  </div>
    
</div>
</html>


