<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">카테고리 조회</div>
  <aside class="aside_right">
    <a th:href="@{|/survey_topic/update/${surveytopicVO.surveytopicno}|}" style ="color: black">수정</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/survey_topic/create|}" style ="color: black">등록</a>
    <span class="menu_divide" style ="color: black">|</span>
    <a href="javascript: location.reload();" style ="color: black">새로 고침</a>
  </aside>
   
  <div class="container mt-3" style="width: 60%; margin: 5px auto;"> <!--/* mt-3: margin top 16px */-->
  <form name="frm" method="post" value="" action="/survey_topic/delete" th:object="${surveytopicVO}">
    <input type="hidden" name="surveytopicno" th:value="${surveytopicVO.surveytopicno}"> <!-- /* 값 유지 */-->
    <input type="hidden" name="surveyno" th:value="${surveytopicVO.surveyno}"> <!-- /* 값 유지 */-->
    <div class="msg_warning" >
      카테고리를 삭제하시겠습니까? 삭제하면 복구할 수 없습니다.<br>      
    </div>
    <div class="content_body_bottom" >
      제목: <span th:text="${surveytopicVO.topic}"></span>
      <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
      <button type="button" onclick="location.href='/survey_topic/create'" class="btn btn-secondary btn-sm">취소</button>
    </div>
    
      
    </form>  

  
    
</div>
</html>


