<div th:fragment="join_list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>      
      <col style='width: 5%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">설문조사 번호</th>
        <th class="th_bs">설문조사 제목</th>
        <th class="th_bs">개별문제</th>        
        <th class="th_bs">출력 순서</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="SurveySurveytopicVO, status:${list}">
        <td class="td_bs" th:text="|${status.index+1}|"></td>
    
        <td class="td_bs">
          <a  style="display:block; color:black;"  th:text="${SurveySurveytopicVO.surveyno}"></a>
        </td>
         <td class="td_bs">
          <a   style="display:block; color:black;"  th:text="${SurveySurveytopicVO.survey_title}"></a>
        </td>              
        <td class="td_bs">
          <a style="display:block; color:black;"  th:text="${SurveySurveytopicVO.topic}"></a>
        </td>
        <td class="td_bs">
          <a style="display:block; color:black;" th:text="${SurveySurveytopicVO.seqno}"></a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div> 
  <!-- 페이지 버튼 목록 출력 종료 -->

</div>

