<div th:fragment="list_search_fragment"> <!-- <div th:replace=... -->
    <div style="text-align: center; clear: both; margin-top: 30px; margin-bottom: 30px;">
  
        

        <form name="frm_search" method="get" action="/commu/list_by_clubno">

  <input type="hidden" name="clubno" id="clubno" th:value="${clubVO.clubno}" >
            <input type="text" name="hashtag" id="hashtag" th:value="${hashtag}" 
                   style="padding: 8px; border: 1px solid #ccc; border-radius: .3rem; 
                          transition: border-color .3s, box-shadow .3s; width: 300px;"
                   placeholder="검색어를 입력하세요" 
                   onfocus="this.style.boxShadow='0 0 5px rgba(94, 15, 90, 0.5)'; 
                             this.style.borderColor='#5e0044';" 
                   onblur="this.style.boxShadow='none'; 
                           this.style.borderColor='#ccc';" >
        <button type='submit' class='btn btn-secondary btn-sm' 
                style="padding: 8px 20px; margin: 0 0 0px 0; 
                       background-image: url('/survey/바탕.PNG'); 
                       background-size: cover; /* 이미지 크기를 조정 */ 
                       background-position: center; /* 이미지 위치 조정 */
                       transition: transform .3s;
                       font-family: 'TTTogether';
                       color: black;"
                onmouseover="this.style.transform='scale(1.05)';" 
                onmouseout="this.style.transform='scale(1)';">검색</button>
            <span th:if="${hashtag != null and hashtag != ''}">
                <button type='button' class='btn btn-secondary btn-sm' 
                        style="padding: 8px 12px; margin: 0 0 2px 0; 
                       background-image: url('/survey/바탕.PNG'); 
                       background-size: cover; /* 이미지 크기를 조정 */ 
                       background-position: center; /* 이미지 위치 조정 */
                       transition: transform .3s;
                       font-family: 'TTTogether';
                       color: black;"
                onmouseover="this.style.transform='scale(1.05)';" 
                onmouseout="this.style.transform='scale(1)';"
                        th:onclick="|location.href='/commu/list_by_clubno?clubno=${clubVO.clubno}'|">검색 취소</button>
            </span>
        </form>
        
        
    </div>
</div>